In [1]:
from algotrading.asset import Asset
from algotrading.common.asset import AssetType, Currency, Commodity, Index, Stock

Asset.get_assets(reload=True)

      CODE       TYPE             NAME
0      BCH  COMMODITY     Bitcoin Cash
1      BCO  COMMODITY  Brent Crude Oil
2      BTC  COMMODITY          Bitcoin
3     CORN  COMMODITY             Corn
4      ETH  COMMODITY         Ethereum
..     ...        ...              ...
57    US30      INDEX    US Wall St 30
58  USB02Y      INDEX     US 2Y T-Note
59  USB05Y      INDEX     US 5Y T-Note
60  USB10Y      INDEX    US 10Y T-Note
61  USB30Y      INDEX        US T-Bond

[62 rows x 3 columns]

In [2]:
Asset.get_assets(code=Commodity.BTC)

  CODE       TYPE     NAME
2  BTC  COMMODITY  Bitcoin

In [3]:
Asset.get_assets(asset_type=AssetType.COMMODITY)

      CODE       TYPE             NAME
0      BCH  COMMODITY     Bitcoin Cash
1      BCO  COMMODITY  Brent Crude Oil
2      BTC  COMMODITY          Bitcoin
3     CORN  COMMODITY             Corn
4      ETH  COMMODITY         Ethereum
5      LTC  COMMODITY         Litecoin
6     MBTC  COMMODITY     Millibitcoin
7   NATGAS  COMMODITY      Natural Gas
8    SOYBN  COMMODITY         Soybeans
9    SUGAR  COMMODITY            Sugar
10   WHEAT  COMMODITY            Wheat
11   WTICO  COMMODITY   West Texal Oil
12     XAG  COMMODITY           Silver
13     XAU  COMMODITY             Gold
14     XCU  COMMODITY           Copper
15     XPD  COMMODITY        Palladium
16     XPT  COMMODITY         Platinum

In [4]:
Asset.get_assets(code=Commodity.WHEAT, asset_type=AssetType.COMMODITY)

     CODE       TYPE   NAME
10  WHEAT  COMMODITY  Wheat

In [5]:
Asset.get_assets(code=Commodity.WHEAT, asset_type=AssetType.INDEX)

Empty DataFrame
Columns: [CODE, TYPE, NAME]
Index: []

In [6]:
asset = Asset(Currency.AUD)
print(asset)

asset = Asset(Commodity.XAG)
print(asset)

asset = Asset(Index.SPX500)
print(asset)

asset = Asset(Stock.AAPL)
print(asset)

Asset(code=<Currency.AUD: 'AUD'>, type=<AssetType.CURRENCY: 'CURRENCY'>, name='Australian Dollar')
Asset(code=<Commodity.XAG: 'XAG'>, type=<AssetType.COMMODITY: 'COMMODITY'>, name='Silver')
Asset(code=<Index.SPX500: 'SPX500'>, type=<AssetType.INDEX: 'INDEX'>, name='S&P 500')
Asset(code=None, type=None, name=None)