In [1]:
from algotrading.asset.api import EIAssetPair
from algotrading.asset.implementation import AssetPair
from algotrading.common.asset import AssetPairType, AssetPairCode, Currency

EIAssetPair.get_asset_pairs(reload=True)

           CODE    BASE QUOTE       TYPE
0       BTC_USD     BTC   USD  COMMODITY
1       BCH_USD     BCH   USD  COMMODITY
2       BCO_USD     BCO   USD  COMMODITY
3       XCU_USD     XCU   USD  COMMODITY
4      CORN_USD    CORN   USD  COMMODITY
..          ...     ...   ...        ...
123    US30_USD    US30   USD      INDEX
124  USB02Y_USD  USB02Y   USD      INDEX
125  USB05Y_USD  USB05Y   USD      INDEX
126  USB10Y_USD  USB10Y   USD      INDEX
127  USB30Y_USD  USB30Y   USD      INDEX

[128 rows x 4 columns]

In [2]:
EIAssetPair.get_asset_pairs(code=AssetPairCode.AUD_USD)

       CODE BASE QUOTE   TYPE
30  AUD_USD  AUD   USD  FOREX

In [3]:
EIAssetPair.get_asset_pairs(base=Currency.AUD)

       CODE BASE QUOTE   TYPE
24  AUD_CAD  AUD   CAD  FOREX
25  AUD_CHF  AUD   CHF  FOREX
26  AUD_HKD  AUD   HKD  FOREX
27  AUD_JPY  AUD   JPY  FOREX
28  AUD_NZD  AUD   NZD  FOREX
29  AUD_SGD  AUD   SGD  FOREX
30  AUD_USD  AUD   USD  FOREX

In [4]:
EIAssetPair.get_asset_pairs(base=Currency.AUD, quote=Currency.SGD)

       CODE BASE QUOTE   TYPE
29  AUD_SGD  AUD   SGD  FOREX

In [5]:
EIAssetPair.get_asset_pairs(pair_type=AssetPairType.COMMODITY)

          CODE    BASE QUOTE       TYPE
0      BTC_USD     BTC   USD  COMMODITY
1      BCH_USD     BCH   USD  COMMODITY
2      BCO_USD     BCO   USD  COMMODITY
3      XCU_USD     XCU   USD  COMMODITY
4     CORN_USD    CORN   USD  COMMODITY
5      LTC_USD     LTC   USD  COMMODITY
6     MBTC_USD    MBTC   USD  COMMODITY
7   NATGAS_USD  NATGAS   USD  COMMODITY
8      XPD_USD     XPD   USD  COMMODITY
9      XPT_USD     XPT   USD  COMMODITY
10     XAG_USD     XAG   USD  COMMODITY
11     XAG_AUD     XAG   AUD  COMMODITY
12     XAG_CAD     XAG   CAD  COMMODITY
13     XAG_CHF     XAG   CHF  COMMODITY
14     XAG_EUR     XAG   EUR  COMMODITY
15     XAG_GBP     XAG   GBP  COMMODITY
16     XAG_HKD     XAG   HKD  COMMODITY
17     XAG_JPY     XAG   JPY  COMMODITY
18     XAG_NZD     XAG   NZD  COMMODITY
19     XAG_SGD     XAG   SGD  COMMODITY
20   SOYBN_USD   SOYBN   USD  COMMODITY
21   WTICO_USD   WTICO   USD  COMMODITY
22   WHEAT_USD   WHEAT   USD  COMMODITY
23   SUGAR_USD   SUGAR   USD  COMMODITY

In [6]:
pair = AssetPair(AssetPairCode.AUD_NZD)
print(pair)

pair = AssetPair(AssetPairCode.XPT_USD)
print(pair)

pair = AssetPair(AssetPairCode.XPD_USD)
print(pair)

AssetPair(code=<AssetPairCode.AUD_NZD: 'AUD_NZD'>, base=EIAsset(code=<Currency.AUD: 'AUD'>, type=<AssetType.CURRENCY: 'CURRENCY'>, name='Australian Dollar'), quote=EIAsset(code=<Currency.NZD: 'NZD'>, type=<AssetType.CURRENCY: 'CURRENCY'>, name='New Zealand Dollar'), type=<AssetPairType.FOREX: 'FOREX'>, name='Australian Dollar - New Zealand Dollar')
AssetPair(code=<AssetPairCode.XPT_USD: 'XPT_USD'>, base=EIAsset(code=<Commodity.XPT: 'XPT'>, type=<AssetType.COMMODITY: 'COMMODITY'>, name='Platinum'), quote=EIAsset(code=<Currency.USD: 'USD'>, type=<AssetType.CURRENCY: 'CURRENCY'>, name='US Dollar'), type=<AssetPairType.COMMODITY: 'COMMODITY'>, name='Platinum - US Dollar')
AssetPair(code=<AssetPairCode.XPD_USD: 'XPD_USD'>, base=EIAsset(code=<Commodity.XPD: 'XPD'>, type=<AssetType.COMMODITY: 'COMMODITY'>, name='Palladium'), quote=EIAsset(code=<Currency.USD: 'USD'>, type=<AssetType.CURRENCY: 'CURRENCY'>, name='US Dollar'), type=<AssetPairType.COMMODITY: 'COMMODITY'>, name='Palladium - US Dollar')